:global(.ui.basic.label):local(.userStatus) {
    border: none;
    // background-color: none;
}

:global(.ui.header) :global(.ui.label):local(.userStatus) {
    margin-left: 0;
}

:global(.ui.label):local(.userStatus) {
    padding-left: 0;
}

:global(.ui.input):local(.userStatus) > input {
    padding-top: 0.5833em;
    padding-bottom: 0.5833em;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    border: none;
}

